* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*Styling for Landing page*/

.landcover {
	display: flex;
	justify-content: center;
	align-items: center;
}

.landing > div > h1 {
	font-family: 'Roboto Slab', serif;
	position: absolute;
	top: 290px;
	font-size: 50px;
	z-index: 5;
}

.landing > div > h1 > a {
	text-decoration: none;
	color: #29a19c;
	transition: 0.4s;
}

.landing > div > h1 > a:hover {
	color: #a3f7bf;
}

.land1 {
	background-image: url(../images/land1.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land2 {
	background: url(../images/land2.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land3 {
	background: url(../images/land3.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land4 {
	background: url(../images/land4.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land1:hover, .land2:hover, .land3:hover, .land4:hover {
	/*transform: scale(1.2);*/
	color: rgba(255,255,255,50%);
}

/*End for Landing page*/

/*Styling for Home page*/

.home {
	height: 100vh;
}

.logo {
	background: url(../images/logo.png);
	background-position: center;
	background-size: cover;
	position: fixed;
	top: 70px;
	height: 35px;
	width: 35px;
}

.mainNav {
	display: flex;
	flex-direction: column;
	margin-left: 65px;
	z-index: 10;
}
	
.name > a {
	text-decoration: none;
	color: #222831;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
	font-size: 33px;
	position: relative;
	left: 40px;
}

.name {
	margin-top: 70px;
	position: fixed;
	z-index: 6;
}

nav {
	position: fixed;
	z-index: 5;
}

nav > ul {
	margin-top: 130px;
}

nav > ul, .content {
	list-style-type: none;
}

nav > ul > li {
	line-height: 2;
}

nav > ul > li > a {
	font-family: 'Raleway', sans-serif;
}

nav > ul > li:hover, nav > ul > li > a:hover, .subNav > li > a:hover  {
	color: #a3f7bf;
}

strong {
	font-weight: 580;
}

.subNav > li {
	line-height: 1.6;
	font-family: 'Raleway', sans-serif;
}

.subNav > .c1 {
	margin-top: 10px;
}

.n3 {
	margin-top: 20px;
}

.folio-menu {
	color: #222831;
	font-family: 'Raleway', sans-serif;
}

.content > a, nav > ul > li > a {
	text-decoration: none;
	color: #222831;
}

.content {
	margin: 0 15px;
}

/*.cover {
	background: url(../images/f-por5.jpg);
	height: 590px;
	width: 885px;
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 100px; 
  	top: 50px;
}*/



/*End for Home page*/

/*Styling for Wedding page*/

.wed1 {
	background: url(../images/wed1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed2 {
	background: url(../images/wed2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed3 {
	background: url(../images/wed3.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed4 {
	background: url(../images/wed4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed5 {
	background: url(../images/wed5.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed6 {
	background: url(../images/wed6.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.wed {
	margin: 5px;
}

/*End for Wedding page*/

/*Styling for Architectural page*/

.arc1 {
	background: url(../images/arc1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc2 {
	background: url(../images/arc2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc3 {
	background: url(../images/arc3.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc4 {
	background: url(../images/arc4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc5 {
	background: url(../images/arc5.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc6 {
	background: url(../images/arc6.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.arc {
	margin: 5px;
}

/*End for Architectural page*/

/*Styling for Lifestyle page*/

.lif1 {
	background: url(../images/lyf1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif2 {
	background: url(../images/lyf2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif3 {
	background: url(../images/lyf3.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif4 {
	background: url(../images/lyf4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif5 {
	background: url(../images/lyf5.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif6 {
	background: url(../images/lyf6.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.lif {
	margin: 5px;
}

/*End for Lifestyle page*/

/*Styling for Portrait page*/

.por1 {
	background: url(../images/por1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por2 {
	background: url(../images/por2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por3 {
	background: url(../images/por3.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por4 {
	background: url(../images/por4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por5 {
	background: url(../images/por5.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por6 {
	background: url(../images/por6.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.por {
	margin: 5px;
}

/*End for Portrait page*/

/*Styling for Projects page*/

.proj1 {
	background: url(../images/proj1.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt1 {
	height: 330px;
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt1 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 20pt;
}

.proj2 {
	background: url(../images/proj2.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt2 {
	height: 330px;
	width: 460px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt2 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 20pt;
}

.proj3 {
	background: url(../images/proj3.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt3 {
	height: 330px;
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt3 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 20pt;
}

.proj4 {
	background: url(../images/proj4.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt4 {
	height: 330px;
	width: 460px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt4 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 20pt;
}

.proj5 {
	background: url(../images/proj5.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt5 {
	height: 330px;
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt5 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 20pt;
}

.proj-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.proj {
	margin: 5px;
}

/*End for Projects page*/

/*Styling for About page*/

.profpic {
	background: url(../images/profpic.png);
	height: 330px;
	width: 250px;
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 307px; 
  	top: 130px;
}

.title {
	position: absolute;
	top: 60px;
	left: 400px; 
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
}
.title > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 30px;
}

.a-body {
	position: relative;
	top: 41px; 
	font-size: 11pt;
	line-height: 1.8;
}

.a-body-hi {
	margin-right: 570px;
}

.a-body-lo {
	margin-right: 300px;
	margin-bottom: 200px;	
}

/*End for About page*/

/*Styling for Contact page*/

form {
	width: 60%;
	align-items: center;
}

.form-contents {
	width: 50%;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 80px;
	left: 400px;
}

.form-contents > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 30px;
}

.form-contents > p {
	position: relative;
	top: 70px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	color: gray;
	margin-right: 272px;
}

.form-input	{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 15px;
	margin-top: 30px;
}

.country {
	display: block;
	width: 100%;
	font-size: 15px;
	margin-top: 30px;
	padding: 3px;
}

.c1 {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.d1 {
	margin-right: 10px;
}

/*End for Contact page*/

/*Styling for button*/

.btn {
	background-color: #222831;
	color: white;
	border-style: none;
	padding: 8px 15px;
	transition: .4s;
	font-size: 12pt;
	font-weight: 600;
	transition: .4s;
	position: absolute;
	left: 337px;
	margin-bottom: 120px;
}

.btn > a {
	text-decoration: none;
	color: white;
}

.btn:hover {
	background-color: #29a19c;
}

/*End for button*/