* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/*iPad and Mobile adjusments*/

.menu {
	display: none;
}

/*End for Menu*/

/*Styling for Landing page*/

.landcover {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.landing > div > h1 {
	font-family: 'Roboto Slab', serif;
	position: absolute;
	top: 290px;
	font-size: 50px;
	z-index: 5;
}

.landing > div > h1 > a {
	text-decoration: none;
	color: #29a19c;
	transition: 0.4s;
}

.landing > div > h1 > a:hover {
	color: #a3f7bf;
}

.land1 {
	background-image: url(../images/land1.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land2 {
	background: url(../images/land2.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land3 {
	background: url(../images/land3.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land4 {
	background: url(../images/land4.jpg);
	height: 100vh;
	width: 25vw;
	background-position: center;
	background-size: cover;
	transition: all .2s;
}

.land1:hover, .land2:hover, .land3:hover, .land4:hover {
	transform: scale(1.1);
}

/*End for Landing page*/

/*Styling for Home page*/

.home {
	height: 100vh;
}

.logo {
	background: url(../images/logo.png);
	background-position: center;
	background-size: cover;
	position: fixed;
	top: 70px;
	height: 35px;
	width: 35px;
	z-index: 2;
}

.mainNav {
	display: flex;
	flex-direction: column;
	margin-left: 65px;
	z-index: 10;
}
	
.name > a {
	text-decoration: none;
	color: #222831;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	letter-spacing: 1.2px;
	font-size: 30px;
	position: relative;
	left: 40px;
}

.name {
	margin-top: 70px;
	position: fixed;
	z-index: 6;
}

nav {
	position: fixed;
	z-index: 5;
}

nav > ul {
	margin-top: 130px;
}

nav > ul, .content {
	list-style-type: none;
}

nav > ul > li {
	line-height: 2;
}

nav > ul > li > a {
	font-family: 'Raleway', sans-serif;
}

nav > ul > li:hover, nav > ul > li > a:hover, .subNav > li > a:hover  {
	color: #29a19c;
}

strong {
	font-weight: 580;
}

.subNav > li {
	line-height: 1.6;
	font-family: 'Raleway', sans-serif;
}

.subNav > .c1 {
	margin-top: 10px;
}

.n3 {
	margin-top: 20px;
}

.folio-menu {
	color: #222831;
	font-family: 'Raleway', sans-serif;
}

.content > a, nav > ul > li > a {
	text-decoration: none;
	color: #222831;
}

.content {
	margin: 0 15px;
}

.slider {
	height: 540px;
	width: 845px;
	position: relative;
	left: 360px; 
	top: 50px;
}
.slide1, .slide2, .slide3, .slide4, .slide5 {
  	position: absolute;
  	width: 100%;
  	height: 100%;
}

.slide1 {
  	background: url(../images/fet1.jpg)no-repeat center;
    background-size: cover;
    animation:fade 10s infinite;
	-webkit-animation:fade 10s infinite;
} 

.slide2 {
  	background: url(../images/fet2.jpg)no-repeat center;
    background-size: cover;
    animation:fade2 10s infinite;
	-webkit-animation:fade2 10s infinite;
}

.slide3 {
    background: url(../images/fet3.jpg)no-repeat center;
    background-size: cover;
    animation:fade3 10s infinite;
	-webkit-animation:fade3 10s infinite;
}

.slide4 {
    background: url(../images/fet4.jpg)no-repeat center;
    background-size: cover;
    animation:fade4 10s infinite;
	-webkit-animation:fade4 10s infinite;
}

.slide5 {
    background: url(../images/fet5.jpg)no-repeat center;
    background-size: cover;
    animation:fade5 10s infinite;
	-webkit-animation:fade5 10s infinite;
}

@keyframes fade
{
  0%   {
  	opacity:1
  }
  20% { 
  	opacity: 0
  }
  40% { 
  	opacity: 0
  }
  60% { 
  	opacity: 0
  }
  80% { 
  	opacity: 0
  }
  100% {
  	opacity: 1
  }
}

@keyframes fade2
{
  0%   {
  	opacity:0
  }
  20% { 
  	opacity: 1
  }
  40% { 
  	opacity: 0
  }
  60% { 
  	opacity: 0
  }
  80% { 
  	opacity: 0
  }
  100% {
  	opacity: 0
  }
}

@keyframes fade3
{
  0%   {
  	opacity:0
  }
  20% { 
  	opacity: 0
  }
  40% { 
  	opacity: 1
  }
  60% { 
  	opacity: 0
  }
  80% { 
  	opacity: 0
  }
  100% {
  	opacity: 0
  }
}

@keyframes fade4
{
  0%   {
  	opacity: 0
  }
  20% { 
  	opacity: 0
  }
  40% { 
  	opacity: 0
  }
  60% { 
  	opacity: 1
  }
  80% { 
  	opacity: 0
  }
  100% {
  	opacity: 0
  }
}

@keyframes fade5
{
  0%   {
  	opacity: 0
  }
  20% { 
  	opacity: 0
  }
  40% { 
  	opacity: 0
  }
  60% { 
  	opacity: 0
  }
  80% { 
  	opacity: 1
  }
  100% {
  	opacity: 0
  }
}

/*End for Home page*/

/*Styling for Wedding page*/

.wed1 {
	background: url(../images/wed1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed2 {
	background: url(../images/wed2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed3 {
	background: url(../images/wed3.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed4 {
	background: url(../images/wed4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed5 {
	background: url(../images/wed5.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed6 {
	background: url(../images/wed6.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.wed-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.wed {
	margin: 5px;
}

/*End for Wedding page*/

/*Styling for Architectural page*/

.arc1 {
	background: url(../images/arc1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc2 {
	background: url(../images/arc2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc3 {
	background: url(../images/arc3.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc4 {
	background: url(../images/arc4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc5 {
	background: url(../images/arc5.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc6 {
	background: url(../images/arc6.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.arc-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.arc {
	margin: 5px;
}

/*End for Architectural page*/

/*Styling for Lifestyle page*/

.lif1 {
	background: url(../images/lyf1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif2 {
	background: url(../images/lyf2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif3 {
	background: url(../images/lyf3.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif4 {
	background: url(../images/lyf4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif5 {
	background: url(../images/lyf5.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif6 {
	background: url(../images/lyf6.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.lif-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.lif {
	margin: 5px;
}

/*End for Lifestyle page*/

/*Styling for Portrait page*/

.por1 {
	background: url(../images/por1.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por2 {
	background: url(../images/por2.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por3 {
	background: url(../images/por3.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por4 {
	background: url(../images/por4.jpg);
	background-position: top;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por5 {
	background: url(../images/por5.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por6 {
	background: url(../images/por6.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.por-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.por {
	margin: 5px;
}

/*End for Portrait page*/

/*Styling for Projects page*/

.proj1 {
	background: url(../images/proj1.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt1 {
	height: 330px;
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt1 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 18pt;
}

.proj2 {
	background: url(../images/proj2.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt2 {
	height: 330px;
	width: 460px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt2 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 18pt;
}

.proj3 {
	background: url(../images/proj3.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt3 {
	height: 330px;
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt3 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 18pt;
}

.proj4 {
	background: url(../images/proj4.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt4 {
	height: 330px;
	width: 460px;
	display: flex;
	justify-content: center;
	flex-direction: column;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt4 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 18pt;
}

.proj5 {
	background: url(../images/proj5.jpg);
	background-position: center;
	background-size: cover;
	height: 330px;
	width: 460px;
}

.projt5 {
	height: 330px;
	width: 460px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
	line-height: 1.3;
}

.projt5 > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 18pt;
}

.proj-gall {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-end;
	position: absolute;
	right: 70px; 
  	top: 50px;
  	margin-bottom: 100px;
}

.proj {
	margin: 30px 5px;
}

/*End for Projects page*/

/*Styling for About page*/

.profpic {
	content: url(../images/profpic2.jpg);
	height: 330px;
	width: 250px;
	background-position: center;
	background-size: cover;
	position: absolute;
	right: 307px; 
  	top: 130px;
}

.profpic:checked {
	content: url(../images/profpic.png);
}

.title {
	position: absolute;
	top: 60px;
	left: 400px; 
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	font-size: 11pt;
	color: #222831;
}
.title > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 30px;
}

.a-body {
	position: relative;
	top: 41px; 
	font-size: 11pt;
	line-height: 1.8;
}

.a-body-hi {
	margin-right: 570px;
}

.a-body-lo {
	margin-right: 300px;
	margin-bottom: 200px;	
}

/*End for About page*/

/*Styling for Contact page*/

iframe {
	position: fixed;
	top: 90px;
	left: 875px;
	width: 400px; 
	height: 300px;
	border: 0;
}

form {
	width: 60%;
	align-items: center;
}

.form-contents {
	width: 50%;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 80px;
	left: 400px;
}

.form-contents > h1 {
	font-family: 'Raleway', sans-serif;
	font-weight: 600;
	color: #393e46;
	font-size: 30px;
}

.form-contents > p {
	position: relative;
	top: 70px;
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
	color: gray;
	margin-right: 272px;
}

.form-input	{
	display: block;
	width: 100%;
	font-size: 16px;
	padding: 15px;
	margin-top: 30px;
}

.country {
	display: block;
	width: 100%;
	font-size: 15px;
	margin-top: 30px;
	padding: 3px;
}

.c1 {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.d1 {
	margin-right: 10px;
}

/*End for Contact page*/

/*Styling for button*/

.btn {
	background-color: #222831;
	color: white;
	border-style: none;
	padding: 8px 15px;
	transition: .4s;
	font-size: 12pt;
	font-weight: 600;
	transition: .4s;
	position: absolute;
	left: 337px;
	margin-bottom: 120px;
}

.btn > a {
	text-decoration: none;
	color: white;
}

.btn:hover {
	background-color: #29a19c;
}

/*End for button*/


/*Media Queries*/

/*media adjustments*/
@media only screen and (min-width: 771px) {
	
	.proj-corr {
	display: none;
	}
}

/*for 1280px display*/
@media only screen and (min-width: 771px) and (max-width: 1280px) {

	/*start for home page*/

	.slider {
		position: absolute;
		right: 300px;
	}

	/*end for home page*/

	/*start for wedding page*/

	.wed-gall {
		position: absolute;
		right: 50px;
	}

	/*end for wedding page*/
}	

/*for iPad*/
@media only screen and (min-width: 376px) and (max-width: 770px) {
	
	/*Start Landing page*/

	.landing > div > h1 {
		top: 480px;
	}

	/*End Landing page*/

	/*navigation alternative*/

	nav {
		visibility: hidden;
	} 

	.menu {
	    position: absolute;
	    position: fixed;
	    display: inline-block;
	    display: flex;
	    align-items: flex-end;
	    flex-direction: column;
	    top: 73px;
	    right: 65px;
	    z-index: 2;
	}

	.menu:before {
	    content: "Menu";
	    font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 22px;
		color: #393e46;
	}

	.menu:focus .menu-content {
	    /*  opacity is 1 in opened state (see below) */
	    opacity: 1;
	    visibility: visible;

	    /* don't let pointer-events affect descendant elements */
	    pointer-events: auto;
	}

	.menu-content {
	    position: absolute;
	    z-index: 10;

	    /* use opacity to fake immediate toggle */
	    opacity: 0;
	    visibility: hidden;
	    transition: visibility 0.5s;
	    background-color: #222831;
	    padding: 180px 230px;
	    top: 28px;
	}

	.menu-content > li > a, .menu-content > li {
    	font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 20px;
		color: white;
		text-decoration: none;
		list-style-type: none;
		text-align: center;
		padding: 15px;
    }

    .nav-bg {
    	background-color: white;
    	width: 100vw;
    	height: 130px;
    	position: fixed;
    	z-index: 1;
    }

    /*End for navigation alternative*/

	/*Start Home page*/

	.slider {
		height: 745px;
		width: 640px;
		position: relative;
		top: 170px;
		left: -1px;
	}

	/*End Home page*/

	/*Start Wedding page*/

	.wed-gall {
		position: absolute;
		top: 166px;
		left: 60px;
	}

	.wed1 {
		background: url(../images/wed1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed2 {
		background: url(../images/wed2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed3 {
		background: url(../images/wed3.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed4 {
		background: url(../images/wed4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed5 {
		background: url(../images/wed5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed6 {
		background: url(../images/wed6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Wedding page*/

	/*Start Architectural page*/

	.arc-gall {
		position: absolute;
		top: 166px;
		left: 60px;
	}

	.arc1 {
		background: url(../images/arc1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc2 {
		background: url(../images/arc2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc3 {
		background: url(../images/arc3.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc4 {
		background: url(../images/arc4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc5 {
		background: url(../images/arc5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc6 {
		background: url(../images/arc6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Architectural page*/

	/*Start Lifestyle page*/

	.lif-gall {
		position: absolute;
		top: 166px;
		left: 60px;
	}

	.lif1 {
		background: url(../images/lyf1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif2 {
		background: url(../images/lyf2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif3 {
		background: url(../images/lyf3.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif4 {
		background: url(../images/lyf4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif5 {
		background: url(../images/lyf5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif6 {
		background: url(../images/lyf6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Lifestyle page*/

	/*Start Portrait page*/

	.por-gall {
		position: absolute;
		top: 166px;
		left: 60px;
	}

	.por1 {
		background: url(../images/por1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por2 {
		background: url(../images/por2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por3 {
		background: url(../images/por3.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por4 {
		background: url(../images/por4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por5 {
		background: url(../images/por5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por6 {
		background: url(../images/por6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Portrait page*/

	/*Start Projects page*/

	.proj-gall {
		display: none;
	}

	.proj-corr {
		position: absolute;
		top: 166px;
		left: 54px;
		margin-bottom: 100px;
	}

	.proj1-c {
		background: url(../images/proj1.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt1-c {
		height: 230px;
		width: 640px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
		margin-bottom: 50px;
	}

	.projt1-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj2-c {
		background: url(../images/proj2.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt2-c {
		height: 230px;
		width: 640px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt2-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj3-c {
		background: url(../images/proj3.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt3-c {
		height: 230px;
		width: 640px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt3-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj4-c {
		background: url(../images/proj4.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt4-c {
		height: 230px;
		width: 640px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt4-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj5-c {
		background: url(../images/proj5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt5-c {
		height: 230px;
		width: 640px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt5-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj-c {
		margin: 10px;
	}

	/*End Projects page*/

	/*Start About page*/

	.profpic {
		height: 430px;
		width: 330px;
		right: 210px;
		top: 220px;
	}

	.title > h1 {
		position: relative;
		right: 50px;
		top: 100px;
	}

	.a-body {
		position: absolute;
		left: -332px;
		top: 620px;
	}

	.a-body-hi {
		margin-right: -227px;
	}

	.a-body-lo {
		margin-right: -227px;
	}

	/*End About page*/

	/*Start Contact page*/

	.form-contents > p {
		position: absolute;
		left: -333px;
		top: 150px;
		margin-right: 80px;
	}

	.form-contents > h1 {
		position: absolute;
		top: 100px;
		left: -75px;
	}

	.form-contents > form {
		position: absolute;
		top: 150px;
		left: -335px;
	}

	form {
	width: 169%;
	align-items: center;
	}

	.btn {
		left: 575px;
	}

	/*End Contact page*/
}

/*End for iPad*/

/*for iPhone 6/7/8*/
@media only screen and (max-width: 375px) {

	nav {
		visibility: hidden;
	} 

	.menu {
	    position: absolute;
	    position: fixed;
	    display: inline-block;
	    display: flex;
	    align-items: flex-end;
	    flex-direction: column;
	    bottom: 600px;
	    right: 15px;
	    z-index: 2;
	}

	.menu:before {
	    content: "Menu";
	    font-family: 'Raleway', sans-serif;
		font-weight: 500;
		font-size: 12px;
		color: #393e46;
	}

	.menu:focus .menu-content {
	    /*  opacity is 1 in opened state (see below) */
	    opacity: 1;
	    visibility: visible;

	    /* don't let pointer-events affect descendant elements */
	    pointer-events: auto;
	}

	.menu-content {
	    position: absolute;
	    z-index: 10;

	    /* use opacity to fake immediate toggle */
	    opacity: 0;
	    visibility: hidden;
	    transition: visibility 0.5s;
	    background-color: #222831;
	    padding: 60px 125px;
	    top: 18px;
	}

	.menu-content > li > a, .menu-content > li {
    	font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 10px;
		color: white;
		text-decoration: none;
		list-style-type: none;
		text-align: center;
		padding: 10px;
    }

    .nav-bg {
    	background-color: white;
    	width: 100vw;
    	height: 90px;
    	position: fixed;
    	z-index: 1;
    }

    /*End for navigation alternative*/

	/*Start Home page*/

	.slider {
		height: 500px;
		width: 350px;
		position: relative;
		top: 100px;
		left: -52.5px;
	}

	.slide3 {
		background-position: center;
	}

	.logo {
		left: 11px;
		height: 20px;
		width: 20px;
		top: 50px;
	}

	.name > a {
		font-size: 12px;
		top: -27px;
		left: -30px;
	}

	/*End Home page*/

	/*Start Wedding page*/

	.wed-gall {
		position: absolute;
		top: 100px;
		left: 20px;
		right: 20px;
	}

	.wed1 {
		background: url(../images/wed1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 360px;
	}

	.wed2 {
		background: url(../images/wed2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed3 {
		background: url(../images/wed3.jpg);
		background-position: left;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed4 {
		background: url(../images/wed4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed5 {
		background: url(../images/wed5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.wed6 {
		background: url(../images/wed6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Wedding page*/

	/*Start Architectural page*/

	.arc-gall {
		position: absolute;
		top: 100px;
		left: 20px;
		right: 20px;
	}

	.arc1 {
		background: url(../images/arc1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc2 {
		background: url(../images/arc2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc3 {
		background: url(../images/arc3.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc4 {
		background: url(../images/arc4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc5 {
		background: url(../images/arc5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.arc6 {
		background: url(../images/arc6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Architectural page*/

	/*Start Lifestyle page*/

	.lif-gall {
		position: absolute;
		top: 100px;
		left: 20px;
		right: 20px;
	}

	.lif1 {
		background: url(../images/lyf1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif2 {
		background: url(../images/lyf2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif3 {
		background: url(../images/lyf3.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif4 {
		background: url(../images/lyf4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif5 {
		background: url(../images/lyf5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.lif6 {
		background: url(../images/lyf6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Lifestyle page*/

	/*Start Portrait page*/

	.por-gall {
		position: absolute;
		top: 100px;
		left: 20px;
		right: 20px;
	}

	.por1 {
		background: url(../images/por1.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por2 {
		background: url(../images/por2.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por3 {
		background: url(../images/por3.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por4 {
		background: url(../images/por4.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por5 {
		background: url(../images/por5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.por6 {
		background: url(../images/por6.jpg);
		background-position: top;
		background-size: cover;
		height: 510px;
		width: 640px;
	}	

	/*End Portrait page*/

	/*Start Projects page*/

	.proj-gall {
		display: none;
	}

	.proj-corr {
		position: absolute;
		top: 166px;
		left: 54px;
		margin-bottom: 100px;
	}

	.proj1-c {
		background: url(../images/proj1.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt1-c {
		height: 230px;
		width: 640px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
		margin-bottom: 50px;
	}

	.projt1-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj2-c {
		background: url(../images/proj2.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt2-c {
		height: 230px;
		width: 640px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt2-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj3-c {
		background: url(../images/proj3.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt3-c {
		height: 230px;
		width: 640px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt3-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj4-c {
		background: url(../images/proj4.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt4-c {
		height: 230px;
		width: 640px;
		display: flex;
		justify-content: center;
		flex-direction: column;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt4-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj5-c {
		background: url(../images/proj5.jpg);
		background-position: center;
		background-size: cover;
		height: 510px;
		width: 640px;
	}

	.projt5-c {
		height: 230px;
		width: 640px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
		font-size: 11pt;
		color: #222831;
		line-height: 1.3;
	}

	.projt5-c > h1 {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
		color: #393e46;
		font-size: 18pt;
	}

	.proj-c {
		margin: 10px;
	}

	/*End Projects page*/

	/*Start About page*/

	.profpic {
		height: 430px;
		width: 330px;
		right: 210px;
		top: 220px;
	}

	.title > h1 {
		position: relative;
		right: 50px;
		top: 100px;
	}

	.a-body {
		position: absolute;
		left: -332px;
		top: 620px;
	}

	.a-body-hi {
		margin-right: -227px;
	}

	.a-body-lo {
		margin-right: -227px;
	}

	/*End About page*/

	/*Start Contact page*/

	.form-contents > p {
		position: absolute;
		left: -333px;
		top: 150px;
		margin-right: 80px;
	}

	.form-contents > h1 {
		position: absolute;
		top: 100px;
		left: -75px;
	}

	.form-contents > form {
		position: absolute;
		top: 150px;
		left: -335px;
	}

	form {
	width: 169%;
	align-items: center;
	}

	.btn {
		left: 575px;
	}

	/*End Contact page*/
}

/*End for iPhone 6/7/8*/



